.blog {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    transition: all 500ms;
}

.blog .actions {
    text-align: right;
    color: #ffffff;
}

.blogs .paginated > .btn-group {
    display: flex;
    justify-content: center;
}

.blogs .btn.btn-block {
    margin-bottom: 10px;
}