#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    height: 100%;
}

#header {
    margin: auto;
    width: 100%;
    padding: 10px 0;
    background-color: #2196F3;
    text-align: center;
    
    h1 {
        height: 100%;
    }
}

#base {
    background-color: #ffffff;
}